
.form {
    display: flex;
    flex-wrap: wrap;
    color: red;
    justify-items: auto;
}

#feild {
    border: 1px solid red;
    border-radius: 10px;
    outline: none;
}

#btn {
    border-radius: 50%;
    background-color: aqua;
    border: none;
    width: 20px;
}

#btn:active {
    background-color: rgb(0, 175, 175);
}