


.todo-list {
    color: rgb(67,66,64);
    border-radius: 20px;
    background-color: rgb(211,186,160);
}

.todo-item {
    display: flex;
    margin: 0px 20px;
    font-size: 15px;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
}

.del {
    margin: auto 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    color: rgb(179, 167, 151);
    background-color: rgb(106,99,89);
}

.del:active {
    background-color: rgb(179, 167, 151);
    color: rgb(106,99,89);
}